Debug/Addin.mak
Debug/Bob.lst
Debug/Bob.obj
Debug/Draw.lst
Debug/Draw.obj
Debug/FXADDINror.abs
Debug/FXADDINror.bin
Debug/FXADDINror.dbg
Debug/FXADDINror.fsy
Debug/FXADDINror.map
Debug/button.lst
Debug/button.obj
Debug/collisions.lst
Debug/collisions.obj
Debug/level1.lst
Debug/level1.obj
Debug/level2.lst
Debug/level2.obj
Debug/levels.lst
Debug/levels.obj
Debug/mechanics.lst
Debug/mechanics.obj
Debug/models.lst
Debug/models.obj